.buttons{
    color: black;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    background-color: white;
    width: 100px;
    margin-top: 3px;
    border: black 2px solid;
    border-top: transparent;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    
}

.buttons:focus{
    color: aqua !important;
    border-color: #04BF9D;
    background-color: #04BF9D;

}

.buttons:hover{
    color: white;
    border-color: #04BF9D;
    background-color: #04BF9D;
    
}

.colum{
    background-color: #253659;
    height: 7px;
    margin-top: 12px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 615px) {
    
}
