.buttons{
    color: white;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    border-radius: 45%;
    border-width: 2px;
}

.buttons:focus{
    background-color: #0D6EFD;
    color: rgb(0, 255, 229);
    font-weight: 600;
    border-color: #0D6EFD;
}

.buttons:hover{
    color: rgb(0, 255, 229);
    background-color: #0D6EFD;
    border-color: #0D6EFD;
    font-weight: 700;
}

.colum{
    background-color: #0D6EFD;
   
}